*
{
	border: 0;
	margin: 0;
	padding: 0;
}

/* =Basic HTML, Non-essential
----------------------------------------------------------------------*/

a
{
	text-decoration: none;
}

body
{
	color: #000;
	margin: 0 auto;
	padding: 40px;
	position: relative;
	width: 1024px;
}

h1
{
	background: inherit;
	border-bottom: 1px dashed #000;
	color: #000;
	text-align: center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 10pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 5pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  font: small-caps 1em Georgia, "Times New Roman", Times, serif;
  font-size: 28.0pt;


}

p
{
	clear: both;
	font: 10px Verdana, sans-serif;
	padding: 10px 0;
	text-align: center;
}

p a
{
	background: inherit;
	color: #777;
 position: center;
}

p a:hover
{
	background: inherit;
	color: #000;
 position: center;
}

 .menu-horizontal {
 font: small-caps 1em Georgia, "Times New Roman", Times, serif;
 color: navy;
 position: center;
 }



/* =Hoverbox Code
----------------------------------------------------------------------*/

.hoverbox
{
	cursor: default;
	list-style: none;
 position: center;
}

.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
}

.hoverbox a:hover .preview
{
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}

.hoverbox img
{
	background: #000;
	border-color: #000 #000 #000 #000;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	width: 100px;
	height: 70px;
}

.hoverbox li
{
	background: #000;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: relative;
}

.hoverbox .preview
{
	border-color: #000;
	width: 300px;
	height: 210px;
}