          			<IMG BORDER=0 SRC="http://www.wefpages.com/SeaScapePM/important-notices.jpg" border=0 bordercolor=black USEMAP=#picmap911>
          			<MAP NAME="picmap911">
          			<AREA SHAPE="RECTANGLE" COORDS="10,745,459,761" HREF="https://www.visitdebeaches.com/live-webcams/rehoboth-beach-boardwalk-webcam/" target=_blank>
          			<AREA SHAPE="RECTANGLE" COORDS="10,801,407,814" HREF="http://www.deldot.gov/map/index.shtml?tab=TrafficCameras" target=_blank>
          			<AREA SHAPE="RECTANGLE" COORDS="10,854,391,869" HREF="http://www.dema.delaware.gov/information/weather.shtml" target=_blank>
          			<AREA SHAPE="RECTANGLE" COORDS="10,910,150,923" HREF="https://www.noaa.gov/" target=_blank>
          			<AREA SHAPE="RECTANGLE" COORDS="10,964,517,977" HREF="https://www.delmarva.com/Outages/CheckOutageStatus/Pages/default.aspx" target=_blank>
          			<AREA SHAPE="RECTANGLE" COORDS="10,1016,220,1032" HREF="https://dec.maps.sienatech.com/" target=_blank>
          			<AREA SHAPE="RECTANGLE" COORDS="10,1072,155,1087" HREF="http://www.wboc.com/" target=_blank>
          			<AREA SHAPE="RECTANGLE" COORDS="10,1093,178,1104" HREF="https://www.delaware1059.com/" target=_blank>
          			<AREA SHAPE="RECTANGLE" COORDS="10,1111,124,1125" HREF="http://www.wgmd.com/" target=_blank>
          			</MAP>
