@charset "utf-8";
/* CSS Document */

#content section, #content article { 
	border: 2px solid blue;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: block; 
	float: center; 
	height: 220px; 
	width: 600px;
	padding-left:15px;
	padding-right:15px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	-webkit-box-shadow: 4px 4px 5px rgba(118, 100, 26, 0.56);
	-moz-box-shadow: 4px 4px 5px rgba(118, 100, 26, 0.56);
	box-shadow: 4px 4px 5px rgba(118, 100, 26, 0.56);
}

#content .newClass { 
	width: 200px; 
	height: 100px; 
	border: 2px solid red;
}

p { 
	clear: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
}

input { 
	display: block; 
}



body {
  padding: 0;
  background-color:#d9dadc;
  font-family: Verdana, Tahoma, Arial;
  font-size: 12px;
	scrollbar-base-color: #5f71bc;
	background-attachment: fixed;
}

a:link {
  color: #ffcc99; <!- ffcc99 ->
  text-decoration:none;
  font-weight:bold
}

a:hover {
  text-decoration: none;
	color:red
}

a:active {
  text-decoration: none;
  color: #ffffff
}

a:visited {
  color: blue;
  text-decoration: none
}

h1 {
  font-size: 20px;
  font-weight: normal;
  color: #016701;
}

h2 {
  padding-top: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #016701;
}

p.note {
	font-size: 8pt;
	border-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #808080;
	border-bottom-color: #808080;
	border-left-color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #FFFFD7;
}

pre {
  margin-left: 20px;
}

code {
  font-family: Courier, 'Courier New', sans-serif;
  color: #006600;
}

span.var {
  color: #000090;
}

span.file {
  font-family: Times New Roman, Verdana, Tahoma, Arial;
  font-size: 14px;
}

span.listh {
  font-family: Verdana, Tahoma, Arial;
  font-weight: 600;
  color: #016701;
}

span.emph {
  font-style: italic;
  font-weight: bold;
}

